.catalog {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 100px;
}

.catalog__header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
  transition: 0.3s;
}

.catalog__header h1 {
  cursor: pointer;
}

.catalog__header h1:hover {
  color: black;
  transition: 0.3s;
}

.catalog__header_active {
  color: black;
}

.catalog__header_default {
  color: #e5e5e5;
}

.catalog__content {
  border-top: 1px solid lightgray;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog__content_infoline {
  padding: 40px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__content_sort {
  display: flex;
  font-weight: 700;
  color: lightgray;
  align-items: center;
}
.catalog__content_sort select {
  margin-left: 10px;
  top: -1px;
  position: relative;
  padding: 15px;
  border: 1px solid #e5e5e5 !important;
  border-radius: 0 !important;
  min-width: 200px;
  color: lightgray;
  font-weight: 700;
  -webkit-appearance: none;
  background-color: transparent;
}

.table {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.catalog__content_filter {
  margin-right: 60px;
  border: 1px solid #e5e5e5;
  width: 20%;
  align-self: flex-start;
}

.catalog__content_list {
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  margin-right: 60px;
  width: 75%;
}

.filter__header {
  margin: 25px 20px;
}

.filter__header_header {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.filter__header_header div {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.86px;
  margin-left: 20px;
  font-weight: 600;
}

.filter__header_header img {
  width: 10px;
  height: 20px;
}

.filter__scrollview {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
}

.filter__scrollview_row {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.filter__scrollview_row input[type="checkbox"] {
  display: none;
}

.filter__scrollview_row label {
  color: #000;
  letter-spacing: 0.75px;
  margin-left: 15px;
  padding-left: 20px;
}
.filter__scrollview_row label::before {
  content: "";
  width: 13px;
  position: absolute;
  left: 0;
  height: 13px;
  border-radius: 2px;
  border: 1px solid #e1e1e1;
}

.filter__scrollview_row input[type="checkbox"]:checked + label::before {
  border: none;
  width: 15px !important;
  left: 0 !important;
  height: 15px !important;
  border-radius: 2px !important;
  background-color: #0abab5 !important;
  top: 0;
}

.filter__scrollview::-webkit-scrollbar-thumb {
  background-color: #0abab5;
  border-radius: 2px;
}

.filter__scrollview::-webkit-scrollbar {
  width: 4px;
}

.filter__scrollview::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  border-radius: 2px;
}

.preloader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
