.login {
  margin: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

h1 {
    margin-bottom: 100px;
}

.login form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 70%;
}

.login__field_wrapper {

}

.login form div {
  font-size: 11px;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.login form input {
    width: calc(100% - 18px);
    border: 1px solid #e5e5e5!important;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 10px;
}

.login form button {
    padding: 17px 0 15px;
    background-color: #0abab5;
    font-size: 11px;
    color: #fff;
    letter-spacing: .33px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}


.forgot_password {
    margin-top: 20px;
    border-bottom: 1px solid black;

}